Repository amplience/dc-static-blog-nextjs, pull requests merged in 2020-06, with the labels that each got.

#21 build(package dependancies): updating nextjs and other package dependanc…
  .gitignore
  .npmrc
  .prettierrc
  __mocks__/next/router.ts
  common/services/blog-post.service.spec.ts
  common/services/blog-post.service.ts
  common/services/blog-reference-list.service.spec.ts
  common/services/dynamic-content-client-config.spec.ts
  common/services/dynamic-content-delivery.service.spec.ts
  common/services/video.service.spec.ts
  common/services/video.service.ts
  common/services/vse.service.spec.ts
  components/blog-card/__snapshots__/blog-card.spec.tsx.snap
  components/content/__snapshots__/content.spec.tsx.snap
  components/cookie-banner/__snapshots__/cookie-banner.spec.tsx.snap
  components/markdown-renderers/__snapshots__/code-block.spec.tsx.snap
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/preview.tsx
  pages/visualization.tsx
  public/robots.txt
  public/static/favicon.ico
  public/static/icons/icon-128x128.png
  public/static/icons/icon-144x144.png
  public/static/icons/icon-152x152.png
  public/static/icons/icon-192x192.png
  public/static/icons/icon-384x384.png
  public/static/icons/icon-512x512.png
  public/static/icons/icon-72x72.png
  public/static/icons/icon-96x96.png
  public/static/images/logo-100h.png
  public/static/images/logo-50h.png
  public/static/images/logo-white-100h.png
  public/static/images/logo-white-50h.png
  public/static/images/social/ic_linkedin.svg
  public/static/images/social/ic_twitter.svg
  tests/next/next.config.spec.ts
  tests/pages/__snapshots__/blog.spec.tsx.snap
  tests/pages/__snapshots__/index.spec.tsx.snap
Labels: dependencies, test

#23 chore: github pr & issue templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#22 build(npm): added lint-staged and warnings for deprecated method calls
  .eslintrc.yaml
  package-lock.json
  package.json
  tsconfig.eslint.json
Labels: dependencies

#24 build(export path map): migrating export path map build step to use search indexes
  README.md
  next.config.js
  package-lock.json
  package.json
  tests/next/next.config.spec.ts
Labels: enhancement, test

#28 feat(content-delivery-2): removed urlSlug property
  README.md
  common/interfaces/blog-list.interface.ts
  common/interfaces/blog-post.interface.ts
  common/interfaces/blog-reference-list.interface.ts
  common/interfaces/blog.interface.ts
  common/interfaces/content.type.ts
  common/services/blog-list/get-blog-reference-list.service.ts
  common/services/blog-list/get-hydrated-blog-list.service.ts
  common/services/blog-post.service.ts
  common/services/vse.service.spec.ts
  common/services/vse.service.ts
  components/blog-card/blog-card.tsx
  components/blog-list/blog-list.spec.tsx
  components/hero-card/hero-card.tsx
  components/visualization/__fixtures__/blogpost.json
  components/visualization/__snapshots__/visualization.spec.tsx.snap
  components/visualization/visualization.spec.tsx
  components/visualization/visualization.tsx
  pages/index.tsx
  schemas/blog-post.json
  tests/fixtures/blog-list-one-blog-duplicate.json
  tests/fixtures/blog-list-one-blog.json
  tests/fixtures/single-blog-post-content-item.json
  tests/fixtures/single-blog-post-data-object.json
Labels: documentation, enhancement, test

#29 feat(pages/index.tsx): load the algolia index client side on load
  components/algolia-instant-search/algolia-instant-search.spec.tsx
  components/algolia-instant-search/algolia-instant-search.tsx
  components/algolia-search-result-list/algolia-search-result-list.tsx
  components/blog-list/loading-blog-posts.tsx
  package-lock.json
  package.json
  pages/index.tsx
Labels: enhancement
