Repository amplience/dc-static-blog-nextjs, pull requests merged in 2020-07, with the labels that each got.

#30 feat(blog page): loading linked blog pages dynamically
  components/blog-card/__snapshots__/blog-card.spec.tsx.snap
  components/blog-card/blog-card.tsx
  components/hero-card/__snapshots__/hero-card.spec.tsx.snap
  components/hero-card/hero-card.tsx
  components/next-link/__snapshots__/next-link.spec.tsx.snap
  components/next-link/next-link.spec.tsx
  components/next-link/next-link.tsx
  next.config.js
  pages/blog/[...slug].tsx
  tests/next/next.config.spec.ts
  tests/pages/blog.spec.tsx
Labels: test

#31 feat(keyword search)!: added search box into the header
  common/interfaces/blog.interface.ts
  components/algolia-instant-search/__mocks__/algolia-instant-search.tsx
  components/algolia-instant-search/__snapshots__/algolia-instant-search.spec.tsx.snap
  components/algolia-instant-search/algolia-instant-search.spec.tsx
  components/algolia-instant-search/algolia-instant-search.tsx
  components/algolia-search-result-list/__mocks__/algolia-search-result-list.tsx
  components/algolia-search-result-list/__snapshots__/algolia-search-result-list.spec.tsx.snap
  components/algolia-search-result-list/algolia-search-result-list.spec.tsx
  components/blog-card/__snapshots__/blog-card.spec.tsx.snap
  components/blog-card/blog-card.spec.tsx
  components/blog-card/blog-card.tsx
  components/blog-list/__snapshots__/loading-blog-posts.spec.tsx.snap
  components/blog-list/__snapshots__/no-blog-posts.spec.tsx.snap
  components/blog-list/__snapshots__/no-results.spec.tsx.snap
  components/blog-list/loading-blog-posts.spec.tsx
  components/blog-list/no-blog-posts.spec.tsx
  components/blog-list/no-results.spec.tsx
  components/blog-list/no-results.tsx
  components/blog/blog.tsx
  components/header-search-box/header-search-box.tsx
  components/hero-banner/__snapshots__/blog-post-hero-banner.spec.tsx.snap
  components/hero-banner/__snapshots__/hero-banner.spec.tsx.snap
  components/hero-banner/blog-post-hero-banner.spec.tsx
  components/hero-banner/blog-post-hero-banner.tsx
  components/hero-banner/hero-banner.tsx
  components/hero-banner/subtitle/__snapshots__/subtitle.spec.tsx.snap
  components/hero-banner/subtitle/subtitle.spec.tsx
  components/hero-banner/subtitle/subtitle.tsx
  components/hero-banner/title/__snapshots__/hero-banner-heading.spec.tsx.snap
  components/hero-banner/title/__snapshots__/title.component.spec.tsx.snap
  components/hero-banner/title/hero-banner-heading.spec.tsx
  components/hero-banner/title/hero-banner-heading.tsx
  components/hero-banner/title/title.component.spec.tsx
  components/hero-card/__snapshots__/hero-card.spec.tsx.snap
  components/hero-card/hero-card.spec.tsx
  components/hero-card/hero-card.tsx
  components/search-result-list/search-result-list.spec.tsx
  components/search-result-list/search-result-list.tsx
  components/visualization/visualization.tsx
  layouts/default.tsx
  pages/index.tsx
  schemas/blog.json
  tests/fixtures/blog-list-one-blog.json
  tests/pages/__snapshots__/blog.spec.tsx.snap
  tests/pages/__snapshots__/index.spec.tsx.snap
  tests/pages/index.spec.tsx
Labels: enhancement

#34 feat(search list pagination): adding index page pagination to the search list
  components/search-result-pagination/search-result-pagination.spec.tsx
  components/search-result-pagination/search-result-pagination.tsx
  pages/index.tsx
  tests/pages/__snapshots__/index.spec.tsx.snap
Labels: test

#33 feat: algolia sort by dropdown
  README.md
  common/services/get-index-name.spec.ts
  common/services/get-index-name.ts
  components/hero-card/__snapshots__/hero-card.spec.tsx.snap
  components/hero-card/hero-card.tsx
  components/search-result-list/__snapshots__/sort-by-dropdown.spec.tsx.snap
  components/search-result-list/search-result-list.spec.tsx
  components/search-result-list/search-result-list.tsx
  components/search-result-list/sort-by-dropdown.spec.tsx
  components/search-result-list/sort-by-dropdown.tsx
Labels: enhancement

#37 fix(search box): fixed input/button styles in chrome, safari & ie
  components/header-search-box/header-search-box.tsx
Labels: bug

#39 fix(sort by): fixed alignment in chrome & safari
  components/search-result-list/__snapshots__/sort-by-dropdown.spec.tsx.snap
  components/search-result-list/sort-by-dropdown.tsx
Labels: bug

#35 fix(search-list): filters out any non blog-post items
  components/search-result-list/search-result-list.spec.tsx
  components/search-result-list/search-result-list.tsx
Labels: bug

#38 fix(keyword search): added the default refinement to the sortby
  components/search-result-list/__snapshots__/sort-by-dropdown.spec.tsx.snap
  components/search-result-list/sort-by-dropdown.tsx
Labels: bug

#36 docs(readme): updated to include the missing staging index name
  README.md
Labels: documentation

#40 docs(custom ranking): explain how to add a custom ranking to the primary index
  README.md
Labels: documentation

#43 fix(pagination): scroll to top of page when pagination link clicked
  pages/index.tsx
  tests/pages/__snapshots__/index.spec.tsx.snap
Labels: test

#44 feat(search urls): adding search state to url query string
  components/page-loader/__snapshots__/page-loader.spec.tsx.snap
  components/page-loader/__snapshots__/route-change-loader.spec.tsx.snap
  components/page-loader/page-loader.tsx
  components/page-loader/route-change-loader.tsx
  package-lock.json
  package.json
  pages/index.tsx
  tests/pages/__snapshots__/index.spec.tsx.snap
Labels: test

#46 feat(search faceting): added facet selection to the header bar
  README.md
  components/clear-refinements/clear-refinements.spec.tsx
  components/clear-refinements/clear-refinements.tsx
  components/header-facet-bar/__snapshots__/header-facet-bar.spec.tsx.snap
  components/header-facet-bar/header-facet-bar.spec.tsx
  components/header-facet-bar/header-facet-bar.tsx
  components/menu-select/menu-select.spec.tsx
  components/menu-select/menu-select.tsx
  next.config.js
  pages/index.tsx
  public/static/images/ic-person.svg
  public/static/images/ic-tag.svg
  tests/pages/__snapshots__/index.spec.tsx.snap
Labels: test

#47 feat(tag facets): added chip style facetable tags to blog posts and c…
  components/blog-card/__snapshots__/blog-card.spec.tsx.snap
  components/blog-card/blog-card.tsx
  components/blog/__snapshots__/blog.spec.tsx.snap
  components/blog/blog.tsx
  components/hero-card/__snapshots__/hero-card.spec.tsx.snap
  components/hero-card/hero-card.spec.tsx
  components/hero-card/hero-card.tsx
  components/tag-chips/tag-chips.tsx
  pages/blog/[...slug].tsx
  pages/index.tsx
  tests/pages/__snapshots__/blog.spec.tsx.snap
  tests/pages/blog.spec.tsx
Labels: test

#50 fix(default layout): moving font import into the document header to avoid 404
  layouts/default.tsx
  pages/_document.tsx
  tests/pages/__snapshots__/blog.spec.tsx.snap
Labels: test

#56 refactor(env vars): simplified and aligned to match dynamic contents …
  README.md
  common/services/dynamic-content-client-config.spec.ts
  common/services/get-index-name.spec.ts
  common/services/get-index-name.ts
  components/visualization/visualization.spec.tsx
  components/visualization/visualization.tsx
  next.config.js
  pages/index.tsx
  tests/pages/index.spec.tsx
Labels: test

#59 Feature/card and article facets
  components/blog-card/__snapshots__/blog-card.spec.tsx.snap
  components/blog-card/blog-card.tsx
  components/blog/__snapshots__/blog.spec.tsx.snap
  components/blog/blog.tsx
  components/hero-card/__snapshots__/hero-card.spec.tsx.snap
  components/hero-card/hero-card.spec.tsx
  components/hero-card/hero-card.tsx
  components/tag-chips/tag-chips.tsx
  pages/blog/[...slug].tsx
  pages/index.tsx
  tests/pages/__snapshots__/blog.spec.tsx.snap
  tests/pages/blog.spec.tsx
Labels: test

#52 fix(blog post): updating build process and blog links to fallback to object id on missing key
  common/services/blog-post.service.ts
  components/blog-card/blog-card.tsx
  components/hero-card/hero-card.tsx
  next.config.js
  package-lock.json
  package.json
  pages/blog/[...slug].tsx
  tests/next/next.config.spec.ts
Labels: test

#64 fix(tag chips): corrected the cursor property value to be a pointer
  components/tag-chips/tag-chips.tsx
  tests/pages/__snapshots__/blog.spec.tsx.snap
Labels: test

#66 fix(index): preventing flicker by only using build time data server-side
  components/blog-list/__snapshots__/loading-blog-posts.spec.tsx.snap
  components/blog-list/loading-blog-posts.tsx
  pages/index.tsx
  tests/pages/__snapshots__/index.spec.tsx.snap
  tests/pages/index.spec.tsx
Labels: test

#61 fix(tag chips): adding overflow ellipsis and setting a max width for tag chips
  components/tag-chips/tag-chips.tsx
  tests/pages/__snapshots__/blog.spec.tsx.snap
Labels: test

#62 refactor(search results): removed hero card component and added hits …
  README.md
  components/hero-card/__snapshots__/hero-card.spec.tsx.snap
  components/hero-card/hero-card.spec.tsx
  components/hero-card/hero-card.tsx
  components/search-result-list/search-result-list.spec.tsx
  components/search-result-list/search-result-list.tsx
  next.config.js
  pages/index.tsx
  tests/pages/__snapshots__/index.spec.tsx.snap
  tests/pages/index.spec.tsx
Labels: test

#67 fix(blog card): fixing the width of blog card tags
  components/blog-list/__snapshots__/blog-list.spec.tsx.snap
  components/blog-list/blog-list.tsx
  components/tag-chips/tag-chips.tsx
  tests/pages/__snapshots__/blog.spec.tsx.snap
Labels: test

#68 fix(index): scrolling to page top when tag chips are clicked
  pages/index.tsx
  tests/pages/__snapshots__/index.spec.tsx.snap
Labels: test
